html{
    font-size: 16px;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

/*
----------------------------------------------
************ MAIN SITE NAVIGATION ************
----------------------------------------------
*/

.site-navigation{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    min-width: 960px;
}

/*Any ul inside of a class called site nav*/
.site-navigation ul{
    float: right;
    list-style-type: none;
    margin-right: 36px;
}

.site-navigation img{
    height: 60px;
    padding: 10px;
}

.site-navigation li{
    display: inline-block;
    margin-right: 36px;
    line-height: 80px;
}

/*
------------------------------------------------
**************** PAGE MARQUEE ******************
------------------------------------------------
*/

.page-marquee{
    height: 600px;
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
}

.marquee-container{
    width: 1200px;
    min-width: 1080px;
    margin: 0 auto;
}

.page-marquee h1{
    font-size: 96px;
    font-weight: 800;
    margin-bottom: 20px;
}

.page-marquee p:first-of-type{
    margin-bottom: 20px;
    font-size: 28px;
    color: #4a4a4a;
}

.call-to-action{
    background: linear-gradient(to bottom, #fb4545, #fe3535);
    padding: 12px 24px;
    color: #fff;
    /*box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);*/
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 96px;
}

.page-marquee p:last-of-type{
    font-size: 36px;
    color:  rgba(48, 48, 48);
    margin-bottom:15px;
}

.hosting-plans-container{
    width: 960px;
    margin: 0 auto;
}
.hosting-plans{
    background: white;
    margin-right: 20px;
    box-shadow: 0 0 1px 0 grey;
    width:306px;
    height:300px;
    float: left;
}

.rmv-right-margin{
    margin-right: 0;
}

.hosting-plans h2{
    font-size: 28px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
}

.marquee-container .hosting-plans p {
   font-size: 14px;
   margin-bottom: 15px;
   color: black;
   margin-right: 10px;
   margin-left: 10px;
}

.hosting-plans .money {
    background: linear-gradient(to top, #fb4545, red);
    border-radius: 5px;
    width: 280px;
    margin: 0 auto;
}

.hosting-plans .money span:first-of-type{
    font-size: 10px;
    padding-bottom: 50px;
    margin:0;
}

.hosting-plans .money span {
    color:white;
    font-size: 36px;
    font-weight: 800;
    margin:0;
}

.hosting-plans .money span:last-of-type{
    font-size: 10px;
    margin: 0;
}
.hosting-plans button:last-of-type{
    background: linear-gradient(to bottom, lightgrey, white);
    padding: 12px 24px;
    color: #fff;
    /*box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);*/
    border-radius: 8px;
    font-size: 10px;
}

.hosting-plans button a {
    text-decoration: none;
    color: gray;
    font-weight: 800;
    font-size: 14px;
}
